<h2>Most popular movies</h2>

<table class='table' *ngIf="movies">
    <thead>
        <tr>
            <th>Id</th>
            <th>Title</th>
            <th>Title Type</th>
            <th>Year</th>
        </tr>

    </thead>
    <tbody>

        <tr *ngFor="let movie of movies; let i=index;">
            <td>i+1</td>
            <td>{{ movie.title }}</td>
            <td>{{ movie.titleType }}</td>
            <td>{{ movie.year }}</td>


            <!--
            <td>
                 <a [routerLink]="['/student-detail/', s.id]"> Detail </a>
            </td>
             !-->
        </tr>

    </tbody>