/* movies Component's private CSS styles */

@import url('https://unpkg.com/bootstrap/dist/css/bootstrap.min.css');
.container {
    width: 100%;
    max-width: 900px;
    margin: 5% auto;
}

.table {
    width: 100%;
}